<!-- VISTA DE PERFIL DE USUARIO, LLAMA EL DATO ALMACENADO EN LA TABLA USUARIOS -->
<body background="../public/img/lema.png">
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card text-center">
                    <div class="card-body">
                        <h3 style="color: white;">Bienvenido {{user.fullname}}</h3>
                        <a href="/links" class="btn btn-primary m-4">
                            Guarda nuevos dominios
                        </a>
                        <!--<a href="/chpass/{{id}}" class="btn btn-secondary"> Cambiar contraseña </a>
                         Se le indica la ruta junto al id del enlace, utilizado para poder editar -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
