<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <div class="container">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Pasarela</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          {{#if user}} {{!-- si usuario est치 logeado muestra la siguiente navegaci칩n --}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Dominios
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/links">Todos los dominios</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/links/add">Agregar un dominio</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Cuenta
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/profile">Perfil</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/signup">Registrar nuevo usuario</a>
              <a class="dropdown-item" href="/logout">Cerrar sesi칩n</a>
            </div>
          </li>
          {{else}}
            <li class="nav-item">
              <a href="/signin" class="nav-link">Iniciar sesi칩n</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Dominios
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/links">Todos los dominios</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="">Acerca de nosotros</a>
            </div>
          </li>
          {{/if}} 
        </ul>
      </div>
    </div>
  </div>
</nav>