<!-- VISTA PARA AÑADIR NUEVOS ENLACES -->
<div class="container p-4">
    <div class="col-md-5 mx-auto">
        <div class="card text-center">
            <div class="card-header" style="color: white;">
                    <h3>Añadir aplicativo</h3>
                </div>
            <div class="card-body">
                <!-- RUTA DE LA VISTA Y MÉTODO MULTER PARA LA SUBIDA DE IMÁGENES -->
                <form action="/links/add" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" class="form-control" name="title" placeholder="Nombre del dominio" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="url" name="url" class="form-control" placeholder="URL">
                    </div>
                    <div class="form-group">
                        <textarea name="description" rows="2" class="form-control" placeholder="Descripción"></textarea>
                    </div>
                    <!-- INPUT DE ARCHIVOS, UTILIZADO PARA BUSCAR LAS IMÁGENES EN EL EQUIPO -->
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" name="image" class="custom-file-input" id="inputGroupFile02">
                            <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">{{req.file.path}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-block">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>